/*
 local: lfohcpiljjfpecdjjhobbcpgpapngike
 online: eimhdmlhdgmboegnmecdnfbmdmhdoool
 
*/

#TFMPL {
	-moz-box-shadow: 0 0 8px 2px #333;
	-webkit-box-shadow: 0 0 8px 2px #333;
	background-color: #F7F7F7;
	color: #555;
	position: absolute;
	top: 99px;
	width: 233px;
	z-index: 999; }
 
	#TFMPL .black-right-header {
		cursor: move;
		display: block;
		position: relative; }
 
		#TFMPL .black-right-header a {
			cursor: pointer;
			display: block;
			height: 12px;
			position: absolute;
			top: 6px;
			width: 12px; }
 
		#TFMPL .black-right-header .icon {
			background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/icon-16.png') no-repeat;
			height: 16px;
			left: 8px;
			top: 4px;
			width: 16px; }
 
		#TFMPL .black-right-header .new {
			background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/icon-new.png') no-repeat;
			height: 16px;
			right: 64px;
			top: 4px;
			width: 16px; }
 
		#TFMPL .black-right-header .options {
			background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/icon-options.png') no-repeat;
			right: 40px; }
 
		#TFMPL .black-right-header .info {
			background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/icon-info.png') no-repeat;
			right: 24px; }
 
		#TFMPL .black-right-header .help {
			background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/icon-help.png') no-repeat;
			right: 8px; }
 
	#TFMPL .TFMPL, #TFMPL .TFMPL_OPTIONS, #TFMPL .TFMPL_INFO {
		height: 547px;
		overflow-x: hidden;
		overflow-y: visible; }
 
		#TFMPL .TFMPL .song { width: 218px; }	
 
	#TFMPL .TFMPL_NEW, #TFMPL .TFMPL_EMPTY, #TFMPL .TFMPL_OPTIONS, #TFMPL .TFMPL_INFO, #TFMPL .TFMPL_HELP {
		background-color: #FFE4A1;
		display: none;
		left: 0;
		position: absolute;
		top: 55px;
		width: 233px; }
		
	#TFMPL .TFMPL_HELP { height: 577px; }
		
	#TFMPL .TFMPL_NEW {
		padding: 36px 24px;
		width: 185px; }
 
		#TFMPL .TFMPL_NEW div {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 6px; }
	 
		#TFMPL .TFMPL_NEW input {
			font-size: 14px;
			padding: 2px 4px;
			width: 174px; }
	 
		#TFMPL .TFMPL_NEW span {
			color: #DA8B00;
			cursor: pointer;
			display: block;
			font-size: 10px;
			margin-top: 4px;
			text-align: right; }
			
	#TFMPL .TFMPL_INFO {
		-webkit-background-size: 96px;
		background: #FFE4A1 url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/icon-128.png') no-repeat 50% 400px;
		background-size: 96px; }
	
	#TFMPL .TFMPL_INFO .subtitle, #TFMPL .TFMPL_OPTIONS .subtitle {
		font-size: 36px;
		font-weight: bold;
		padding: 12px 0;
		text-align: center; }
		
	#TFMPL .TFMPL_INFO .block {
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: none;
		background-color: #FABA43;
		display: inline-block;
		margin: 0 0 17px 17px;
		padding: 12px;
		width: 68px; }
		
		#TFMPL .TFMPL_INFO .block .number {
			font-size: 32px;
			font-weight: bold;
			margin-bottom: 2px;
			text-align: center; }
		
		#TFMPL .TFMPL_INFO .block .text {
			font-size: 11px;
			text-align: center; }
			
	#TFMPL .TFMPL_INFO .installed, #TFMPL .TFMPL_INFO .version {
		font-size: 11px;
		margin: 0 0 4px 17px; }
			
	#TFMPL .TFMPL_OPTIONS {
		font-size: 18px;
		font-weight: bold; }
 
	#TFMPL .TFMPL_HELP {
		background: #FEE49C url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/help.png') no-repeat;
		top: 25px; }
		
	#TFMPL .TFMPL_EMPTY {
		background: transparent url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/drag.png') no-repeat;
		height: 102px;
		top: 55px;
		width: 233px; }
 
	#TFMPL .TFMPL_MENU {  }
		
	#TFMPL .TFMPL_WRAPPER {
		background-color: #FEE49C;
		display: none;
		left: 0;
		padding: 8px;
		position: absolute;
		top: 0; }
		
	#TFMPL .TFMPL_PLAYLISTS {
		color: #333;
		height: 533px;
		overflow: hidden;
		width: 219px;
	}

	#TFMPL dl.dropdown {
		background-color: #797979;
		display: inline-block;
		margin: 0;
		width: 233px; }
 
	#TFMPL .dropdown dd, .dropdown dt, .dropdown ul {
		margin: 0px;
		padding: 0px; }
 
	#TFMPL .dropdown dt {
		background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/dropdown.png') no-repeat scroll 210px center;
		color: #FFF;
		display: block;
		font-size: 16px;
		padding: 6px 20px 6px 8px; }
 
		#TFMPL .dropdown dt:hover { background-color: #FABA43; }
 
		#TFMPL .dropdown dt.selected { background-color: #FABA43; }
 
	#TFMPL .dropdown dd {
		position: relative;
		z-index: 1; }
 
		#TFMPL .dropdown dd ul {
			list-style: none; }
 
			#TFMPL .dropdown dd ul li {
				cursor: pointer;
				font-size: 15px;
				padding-bottom: 5px ; }
 
				#TFMPL .dropdown dd ul li:hover { background-color: #FABA43; }
				
	#TFMPL.playlist-container .song .goTop {
 		background: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/go-top.png') 0 -20px;
		height: 20px; }
		
		#TFMPL.playlist-container .song .goTop:hover {
 		background-position: 0 0; }
 	
 	#TFMPL.playlist-container .queueView .song .remove {
 		background-image: url('chrome-extension://eimhdmlhdgmboegnmecdnfbmdmhdoool/images/remove-button.png');
		top: 4px; }
 
	#TFMPL .activeClass { background-color: #FFA; }
 
	#TFMPL .hoverClass { background-color: #FABA43; }
 
	#TFMPL .highlightClass { background-color: #FFF; height: 42px; }
		
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 100%;
	background: transparent; }

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red; }

.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack {
	background: #444236;
	position: relative; }

.jspDrag {
	background: #FABA43;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer; }

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%; }

.jspArrow {
	background: #FD9D00;
	text-indent: -20000px;
	display: block;
	cursor: pointer; }

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }