#TFMPL { background-color: #F7F7F7; position: absolute; top: 99px; left: 760px; width: 233px; z-index: 20001; -moz-box-shadow: 0 0 8px 2px #333;
-webkit-box-shadow: 0 0 8px 2px #333; }

#TFMPL .black-right-header { cursor: move; }
#TFMPL .black-right-header .icon { top: 4px; left: 8px; }

#TFMPL .TFMPL { height: 532px; overflow-x: hidden; overflow-y: visible; }
#TFMPL .TFMPL .song { width: 218px; }

#TFMPL .TFMPL_NEW, #TFMPL .TFMPL_HELPER { position: absolute; top: 80px; left: 8px; background-color: #FEE49C; width: 186px; padding: 12px; }
#TFMPL .TFMPL_NEW div { font-size: 0.9em; margin-bottom: 6px; }
#TFMPL .TFMPL_NEW input { font-size: 0.8em; padding: 2px 4px; width: 174px; }
#TFMPL .TFMPL_NEW span { color: #DA8B00; cursor: pointer; display: block; text-align: right; margin-top: 4px; font-size: 0.7em; }

#TFMPL .TFMPL_HELPER { background: #FEE49C url('http://kollectiv.org/Turntable.fm-Playlists/images/arrow.png') no-repeat left center; top: 80px; background-color: #FEE49C; width: 186px; padding: 36px 10px 32px 74px; color: #FABA43; font-weight: bold; width: 130px; border: 1px dashed #FABA43; }

#TFMPL .TFMPL_FIRST { font-size: 1em; margin-top: 20px; }

#TFMPL .TFMPL_FIRST h2 { margin-bottom: 6px; }

#TFMPL .TFMPL_MENU { background-color: #E7E7E7; height: 30px; padding: 4px 8px; }

#TFMPL dl.dropdown {
	background-color: #797979;
	display: inline-block;
	margin: 0;
	width: 218px; }

#TFMPL .dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px; }

#TFMPL .dropdown dt {
	background: url('http://kollectiv.org/Turntable.fm-Playlists/images/dropdown.png') no-repeat scroll 196px center;
	color: #FFF;
	display: block;
	font-size: 1em;
	padding: 3px 20px 3px 18px;
	width: 180px; }

#TFMPL .dropdown dt:hover {
	background-color: #FABA43; }
	
#TFMPL .dropdown dt.selected {
	background-color: #FABA43; }

#TFMPL .dropdown dd {
	position: relative;
	z-index: 1; }

#TFMPL .dropdown dd ul {
	background-color: #FEE49C;
	color: #333;
	display: none;
	left: 0px;
	list-style: none;
	max-height: 550px;
	min-width: 220px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	top: 0;
	width: auto; }
	
#TFMPL .dropdown dd ul li {
	display: block;
	font-size: 0.9em;
	padding: 4px 6px; }
	
#TFMPL .dropdown dd ul li.new_playlist {
	border-top: 1px solid #ECA715;
	margin-top: 10px; }

#TFMPL .dropdown dd ul li:hover { background-color: #FABA43; }


#TFMPL .activeClass { background-color: #FFA; }
#TFMPL .hoverClass { background-color: #FABA43; }
#TFMPL .highlightClass { background-color: #FFF; height: 42px; }